@font-face {
  font-family: "iconfont"; /* Project id 2673122 */
  src: url('//at.alicdn.com/t/font_2673122_dhj12u0zler.woff2?t=1626233790886') format('woff2'),
       url('//at.alicdn.com/t/font_2673122_dhj12u0zler.woff?t=1626233790886') format('woff'),
       url('//at.alicdn.com/t/font_2673122_dhj12u0zler.ttf?t=1626233790886') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuju:before {
  content: "\e6cb";
}

#header{
  position: fixed;
  width: 100%;
  z-index: 10;
}

body {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #EFF3F7;
  }
  .content {
    flex: auto;
    display: flex;
    background-color: white;
    /* margin:300px */
  }
  .content article {
    flex: auto;
    background-color: #EFF3F7;
    padding-left: 5px;
  }

  .box{
    margin:0px;
    background-color:#1E62E7;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    list-style:none;
 }
 .box li{
    text-decoration:none;
    display:block;
    color:white;
    padding:1em;
 }

 li{
   list-style: none;
 }

 li i{
   color:#00BFFF;
 }
 

 #asideimg{
  border-radius: 50%;
  /* transform: scale(0.1); */
  width: 20%;
  height: 20%;
  display: block;
  margin: 0 auto;
 }

 .asideTop{
   margin-top: 2em;
 }

 aside{
   /* width: 150px; */
   height: 100%;
 }

 #aside{
   display: block;
   position: fixed;
   width: 150px;
   height: 100%;
 }

 .asideTop h4{
   color: #1E62E7;
   }

aside ul{
  padding-left: 0px;
}

aside ul li{
   line-height: 50px;
 }

aside ul li:hover{
  background-color:#b0c4de88;
  /* border-left: #353535; */
}

aside ul li:hover::before{
  content: "";
  color: #1E62E7;
  /* display: inline-block; */
  height: 50px;
  width: 3px;
  background-color:#1E62E7 ;
  float: left;
}

aside>ul>li{
  width:100%;
	height:50px;
	/* border-bottom:1px solid #666; */
	/* text-align:center; */
	cursor:pointer;
	/* background-color:peru; */
  /* float: left; */
	color:#355ba7;
}

.selected::before{
  content: "";
  color: #1E62E7;
  /* display: inline-block; */
  height: 50px;
  width: 3px;
  background-color:#1E62E7 ;
  float: left;
}

.selected{
  background-color:#b0c4de88;
}

li span a{
  color: grey;
}


